html{
  background-color:#231F20;
}

#content {
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  padding-left:5px;
  width: 700px;
  color: #333;
  margin: auto;
  padding-top: 100px;
  font-family: Georgia, sans-serif;
}

form {
  text-align: center;
}

input {
  font-size: 28px;
  padding: 5px 15px;
}

input[type='submit'] {
  border-width: 1px;
}

h1 {
  font-weight: Black 900;
  font-size: 50px;
  font-family: 'Source Serif Pro', serif;
}

a {
  text-decoration: none;
  padding: 6px 35px;
}

strong {
  color: #74f07b;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.shadow_box {
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}

.roundrect {
border-radius: 15px;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 400px;
  width: 400px;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(35, 31, 32, 0.8);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
  font-size: 20px;
  font-family:'Cousine', monospace;
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}